/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-color: green;
}

img{
  display: block;
  margin: 0 auto;
}

#topRow{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

    #deck {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 325px;
      height: 225px;
      border: solid 2px #519651;
    }

        #stock {
          width: 145px;
          border: solid 2px #519651;
        }

        #waste {
          width: 145px;
        }

    #foundation {
      width: 650px;
      height: 225px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

        #foundation img {
          width: 145px;
          border: solid 2px #519651;
        }


#tab {
  display: flex;
  width: auto;
  justify-content: space-around;
  margin-top: 200px;
  height: 500px
}

#tab img:first-child {
  border: solid 2px #519651;

}
  #tab .piles {
    display: flex;
    flex-direction: column;
  }
  

    #tab img {
      width: 145px;
      margin-top: -150px;
    }


div,
img {
  height: 200px;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
